body {
  
    color:#fff;
  }
    
  .eee {
    /*
  position: relative;
  overflow: hidden;
  padding: 0 74px 0 22px;
  margin: 0;
  height: 25px;
  background: #252525;
  box-shadow: 0 1px 0 0 #353535 inset;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
    */
    
  position: relative;
  overflow: hidden;
  padding: 0 74px 0 22px;
  margin: 0;
  height: 25px;
  background: #252525;
  box-shadow: 0 1px 0 0 #353535 inset;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  }
  
  #menu {
    
    background: #303130;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
  width: 198px;
    
  }
  
  
  a {
    
    padding: 11px 15px;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-color: rgba(255, 255, 255, 0.05);
  transition: color .3s ease-in-out 0s;
  color: #F1F1F1;
    
  }
  #responsive-admin-menu {
      float: left;
      width: 200px;
      background-color: #404040;
      height: 100%;
      position: relative;
      overflow: hidden;
      left: 0px;
      min-height: 500px;
  
  }
  
  #content-wrapper {
      width: auto;
      margin-left: 200px;
      background-color: #ffffff;
      height: 1200px;
      padding: 15px;
    
    
    background: #303130;
  border-right: 1px solid #000;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.06) inset;
  }
  
  #responsive-admin-menu #responsive-menu {
      height: 50px;
      display: none;
      line-height: 50px;
      cursor: pointer;
      color: #ffffff;
      text-indent: 10px;
  }
  
  
  #responsive-admin-menu #responsive-menu .menuicon {
      color: #ffffff;
      font-size: 24px;
      position: absolute;
      right: 10px;
      top: 0px;
  }
  #responsive-admin-menu #logo {
      background: url('../images/logo.png');
      background-position: -0px -36px;
      width: 174px;
      height: 40px;
      margin: 10px;
  }
  #responsive-admin-menu #menu a {
      border-bottom: 1px  #52535a;
      font-size: 14px;
      text-decoration: none;
      display: block;
      padding: 12px;
      color: #FFFFFF;
      position: relative;
      font-weight: 400;
      overflow: hidden;
  }
  #responsive-admin-menu #menu a:hover {
      color: #111;
      /*-- background-color:#fcfcfc; --*/
    background-color: #494949;
  }
  #responsive-admin-menu #menu i {
      width: 16px;
      padding-right: 4px;
  }
  #responsive-admin-menu #menu div {
      display: none;
      width: 100%;
      background-color: #5c5d64;
      overflow: hidden;
  }
  #responsive-admin-menu #menu div a {
      color: #c0c0c0;
  }
  #responsive-admin-menu #menu div a:hover {
      color: #888888;
  }
  #responsive-admin-menu #menu a.submenu:before {
      font-family: FontAwesome;
      content: "\f054";
  }
  #responsive-admin-menu #menu a.downarrow:before {
      font-family: FontAwesome;
      content: "\f078";
  }
  #responsive-admin-menu #menu a.submenu:before {
      font-size: 14px;
      position: absolute;
      right: 15px;
      top: 17px;
  }
  /* Menu Styles */
  
  @media screen and (max-width: 960px) {
      #responsive-admin-menu #responsive-menu {
          display: none;
      }
      #responsive-admin-menu #menu a span {
          display: inline-block;
      }
  }
  @media screen and (max-width: 800px) {
      #responsive-admin-menu #menu a span {
          display: none;
      }
      #responsive-admin-menu {
          float: left;
          width: 40px;
          position: relative;
      }
      #responsive-admin-menu {
          height: 100%;
      }
      #content-wrapper {
          margin-left: 40px;
      }
      #responsive-admin-menu #menu a.submenu:before {
          font-size: 6px;
          right: 5px;
      }
      #responsive-admin-menu #logo {
          background: url('../images/logo.png');
          background-position: -0px -0px;
          width: 29px;
          height: 26px;
          margin: 10px 10px 10px 5px;
      }
  }
  @media screen and (max-width: 480px) {
      #responsive-admin-menu {
          min-height: 50px;
          float: left;
          width: 100%;
          background-color: #404040;
          height: auto;
          position: static;
          top: 0;
      }
      #responsive-admin-menu #logo {
          display: none;
      }
      #responsive-admin-menu #menu a span {
          display: inline-block;
      }
      #content-wrapper {
          margin-left: 0;
          padding-top: 60px;
      }
      #responsive-admin-menu #responsive-menu {
          display: block;
      }
      #responsive-admin-menu #menu {
          display: none;
      }
      #responsive-admin-menu #menu a {
          color: #FFFFFF;
      }
      #responsive-admin-menu #menu a.submenu:before {
          font-size: 14px;
          right: 15px;
      }
  }
  
  html, body {
          margin: 0;
          padding: 0;
          height: 100%;
          font-family: "Open Sans", Helvetica, sans-serif;
          background-color: #404040;
  }

  .alertCon{
      width: 500px;
      height: 500px;
      padding: 50px;
      margin-left: 30%;
      background-color: orangered;
  }